<div class="post-comments">
<div class="card w-100">
  <div class="card-body">
    <p>
        <b><%= comment.user.name %>:</b> 
          <%= comment.content %>
      </p>
      <span> <%= comment.created_at.strftime("%Y/%m/%d") %> 
      </span>
  </div>
</div>
</div>
