<div class="sidebar">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header-title">Add New Post</h2>
        </div>
        <div class="card-content">
            
        </div>
    </div>
</div>