<% unless @user == current_user %>
  <div id="follow_form">
    <% if current_user.friend?(@user) %>
      <%= render 'unfollow' %>
    <% elsif @user.pending_friends.include?(current_user) %>
      <%= render 'friendships/accept_request' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>

