<% unless @user == current_user %>
  <div id="follow_form">
    <% if current_user.friend?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>

