<% unless current_user == user %>
<br>
  <% if current_user.friend?(user) %>
    <span class="status">Your friend</span>
  <% elsif current_user.pending_requests_sent?(user)  %>
    <span class="status">Pending</span>
  <% elsif current_user.pending_requests_received?(user) %>
    <%= link_to 'Accept Request', friendship_path(id: friendship_id(user.id, current_user.id)), method: :patch %> | 
    <%= link_to 'Cancel Request', destroy_friendship_path(id: friendship_id(user.id, current_user.id)), method: :delete %>
  <% else%>
    <%= link_to 'Add Friend', friendships_path(invitee_id: user.id), method: :post %>
  <% end %>
<% end %>