<% unless current_user == @user %>
  <div>
  <% if current_user.friend?(@user) %>
    <%= render 'unfriend' %>
  <% elsif current_user.pending_requested?(@user) %>
    <%= render 'cancel' %>
  <% elsif current_user.pending_requested_from?(@user) %>
    <%= render 'accept' %>
  <% else %>
    <%= render 'friend' %>
  <% end %>
  </div>
<% end %>