<% friendship = verify_friendship(user) %>
<% if friendship.nil? %>
  <div class="button-friendship">
    <%= button_to 'Invite to friendship', friendships_path(params: { friendship: { friend_id: user.id, user_id: current_user.id }}), method: :post, class: 'button-friendship' %>
  </div>
<% elsif friendship.status %>

<% elsif friendship.user_id == user.id %>
  <div>
    <%= button_to 'Accept Friendship', friendship_path(friendship.id), method: :put %>
    <%= button_to 'Reject Friendship', friendship_path(friendship.id), method: :delete %>
  </div>
<% else %>
  <p class="button-friendship status pending"> Pending Response </p>
<% end %>