<% @pending_request.each do |pending| %>
  <% if @user == current_user %>
    <%= pending.name.capitalize %> wants to be your friend
    <div class="friendship-btn">
      <%= confirm_button(pending) %>
    </div>
  <% end %>
<% end %>