<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to user.name,  user_path(user), class: 'profile-link' %>
    <%= invitation_button(user) %>
    <%= accept_decline_buttons(user) %>
  </span>
</li>