<li>
  <% if current_user == user %>
    <h4> This is your profile! <%= user.name %></h4>
  <% else %>
    Name: <%= user.name %>
  <% end %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <% if user.id != current_user.id && !current_user.pending_friends.include?(user) && !current_user.friends_with?(user) && !current_user.friend_requestsu.include?(user) %>
    <%= render 'friend_req', friendship: @friendship, user: user %>
  <% elsif current_user.pending_friends.include?(user) %>
    <p class="already">invitation pending!</p>
  <% elsif current_user.friends_with?(user) %>
    <p class="already">you are already friends!</p>
  <% elsif current_user.friend_requestsu.include?(user) %>
  <p class="already">You have a friend request from this user!</p>
<% end %>
</li>