<li>
  Name: <%= user.name %>
  <% if current_user.pending_inviter_friends.include?(user) %>
      <span >Pending friendship request</span>
  <% end %>
  <span class="profile-link">
    
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
</li>