<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  <%= render 'friendships/friend_request_form', user: user %>
  </span>
</li>