<% @users_requested.each do |user| %>
<li>
  Name: <%= user.name %>
  
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <p>Friendship request sent!</p>
    <%= button_to  "Undo Request", decline_friendship_friendships_path, 
      params: {:friendship => {:user_id => current_user.id, :friend_id=> user.id} }, 
    method: :post, data: { confirm: 'Are you sure?' } %>
  </span>
</li>
<% end %>