<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if user != current_user %>
      <%= button_to 'Invite to friendship', { :controller => "friendships", :action => "create", :friend_id => user.id  }, method: :post %>
      <% end %>
  </span>
</li>
