<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if user.friend?(user) %>
      <%= link_to 'Unfriends', friendship_path, method: :delete %>
    <% else %>
      <%= link_to 'Invite to friendship', invite_path(user_id: current_user.id, friend_id: user.id, status: false) %>
    <% end %>
  </span>
</li>