<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= link_to 'Send a request', user_friendships_path(user), method: :post %>
  </span>
</li>