<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <span class="profile-link">
    <button><%= is_friend?(user) %></button>
  </span>
</li>