<li >
  <div class="profile-link ">
    <span class='black-font'>
      Name: 
    </span>
    <%= link_to user.name, user_path(user), class: '' %>
    <%= button_to 'send invitation' %>
  </div>
</li>
