<li>
  Name: <%= user.name %>
  <span class="profile-link">

    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <% if user %>
  <%= button_to 'Invite to friendship', user_friendships_path(user)  %>
  <% elsif user.friendship.status == false %>
  <%= button_to 'Pending friendship', disable: true   %>
  <% else %>
  <%#= button_to 'Pending friendship', disable: true   %>
  <% end %>
</li>