<li>
  <div class="profile-link ">
    <span class='black-font'>
      Name: 
    </span>
    <%= link_to user.name, user_path(user), class: 'mr-3 text-primary' %>
    <%= show_send_invitation_button(user) %>
    <%= show_accept_decline_buttons(user) %>
  </div>
</li>
