<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    
    <% unless user == current_user  || current_user.friend?(user) %>
      <button type="button" class="btn btn-success">
       <%= link_to 'friend', user_friendships_path(user), method: :post %>
      </button>
    <% end %>
  </span>
    
</li>

    



