
<ul>
<% @users.each do |user| %>
    <% if current_user.friend_requests.pluck(:friend_id).include? user.id %>
      <li><%= link_to user.name, user_path(user) %> 
          | Pending Request</li> 
    <% else %>
      <li><%= link_to user.name, user_path(user) %> |
      <%= link_to "Add Friend", friendships_path(friend_id: user.id), method: :post %>
      </li>   
    <% end %>
<% end %>
</ul>