<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <% if user != current_user %>
    <%= check_friendship_btn(user) %>
    <% end %>
</li>