<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= button_to 'Invite to friendship', { controller: 'friendship', action: 'create', :friend_id => user.id  },:method => post %>
  </span>
</li>