<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= link_to 'pending Friendship',  friendships_path(receiver_id: user.id), method: :post, class: 'profile-link' %>
    <% if(current_user != user) %>
    
      <%= link_to 'Send Friendship',  friendships_path(receiver_id: user.id), method: :post, class: 'profile-link' %>
    <% end %>
  </span>
</li>