<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <span class= "friend">
   <% unless user == current_user  || current_user.friend?(user) %>
       <%= link_to 'friend', friendships_path(user), method: :post %>
    <% end %>
  </span> 
</li>

    



