<li>
  <%= gravatar_for user %>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <%= render  "shared/invite", invited: user %>
</li>
