<li class="user-show-header">
  <div class="profile-link">
    <strong>Name:</strong><%= link_to user.name, user_path(user) %>
  </div>
  <% user(user) %>
  <%= render 'add_friend', friendship: @friendship %>
</li>
