<li>
<% unless user.id == current_user.id %>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= accept_or_pending_btn(user) %>
  </span>
<% end %>
</li>




