<div class='user-profile-div'>
<%= @users.each do |user| %>
  <ul>
    <li>  
      Name: <%= user.name %>
      <span class="user-resquest">
        <%= friendship_interaction(user) %>
      </span>
    </li>
  </ul>
<% end %>
</div>


