<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= user.name %></strong> <small><%= user.email %> </small>
      </p>
      <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link button is-primary' %>
      </span>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
</article>
