<div class='user-profile-div'>

  <ul>
    <% @users.each do |user| %>
      <li>  
        Name: <%= user.name %>
        <span class="user-resquest">
          <%= friendship_interaction(user) %>
        </span>
      </li>
    <% end %>
  </ul>

</div>


