<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if current_user.id != user.id %>
      <%= button_to 'Add friend', {:controller => "friendships", :action => "create", :friend_id => user.id} , :method=>:post  %>
    <% end %>
  </span>
</li>