<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <% if current_user.pending_inviters.include?(user) %>
    <span class="profile-pending-request">
      Pending friendship request
    </span>
  <% end %>
  <% if current_user.not_acquaintances.include?(user) %>
    <%= link_to  "Invite to friendship", friendship_create_path(current_user.id, user.id, 'all-users'), method: :post, class: 'profile-friendship-request' %>
  <% end %>
</li>