<section class="users-section">
  <ul class="users-list">

    <%= render 'user_unrequested' %>
    <%= render 'user_requested' %>
    <%= render 'user_invites' %>
    <%= render 'user_friends'%>
  </ul>
</section>
