<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <% if sent_requests(user.id) %>
            <% if pending_requests(user.id) %>
              <span class="profile-link">Friend</span>
            <% else %>
              <span class="profile-link">Pending</span>
            <% end %>
          <% else %>
            <%= link_to 'invite to friendship', user_invite_path(user), class: 'invite-btn', method: :post%>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
