<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>

          <% if user != current_user %>
            <% if current_user.friend?(user) %>
              <p>You are friends</p>
            <% elsif current_user.pending_friends.include?(user) %>
               <p> Pending request </p>
            <% elsif current_user.friend_requests.include?(user) %>
              <%= button_to 'Confirm friend', accept_friend_path(user_id: user.id, friend_id: current_user.id), method: 'post', class: 'btn btn-success' %>
            <% elsif !current_user.friend?(user) %>
               <%= button_to 'Add friend', friendships_path(user_id: current_user.id, friend_id: user.id), method: 'post', class: 'btn btn-success' %>
            <% end %>  
          <% end %>

      </li>
    <% end %>
  </ul>
</section>
