<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <%= render 'friendships/friend_request_form', user: user %>
            <% requestor.each do |r| %>
            <% if user == r %>
            <%= render 'friendships/accept_request_form', user: user, submit_text: 'Accept' %>
             <% end %>
            <% end %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
