<section class="users-section">
  <ul class="users-list">
    <% all_users.each do |user| %>
      <li class="button-parent">
        <div>
          <%= gravatar_for user %>
          Name:
          <span class="profile-link">
            <%= link_to "#{user.name}",  user_path(user), class: 'profile-link' %>          
          </span>
        </div>
        
        <%= render 'friendship_button', user: user %>  
      </li>
    <% end %>
  </ul>
</section>
