<section class="users-section">
  <ul class="users-list">
    <% for user in @users %>
    <li>
      <%= link_to user.name, user_path(user) %>
      <%= friendship_action(user) %>
     </li>
    <% end %>
  </ul>
</section>
