<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <%= user.name %></br>
          <%= link_to 'See Profile',  user_path(user), class: 'btn btn-outline-success btn-sm' %>
        <% if signed_in? && !Friendship.reacted?(current_user.id, user.id) && current_user != user %>
          <td> <%= link_to 'Add Friend', friendships_create_path(ids: {id1: current_user.id, id2: user.id}), class: 'btn btn-success btn-sm' %></td>
        <% elsif signed_in? && !Friendship.confirmed_record?(current_user.id, user.id) && current_user != user %>
          <% user.pending_friendships.each do |friendship| %>
            <% if current_user %>
              <%= link_to 'Cancel Request', friendships_destroy_path(friendship_id: friendship.id),  class: 'btn btn-danger btn-sm' %>
              <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

	   
	  