<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        
        <%= link_to 'Invite', friendships_path(friendship: { sender_id: current_user.id, receiver_id: user.id, status: false }), method: :post %>        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
