<section class="users-section">
  <ul class="users-list">
    <% @users.each do |friend| %>
      <li>
        Name: <%= friend.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(friend), class: 'profile-link' %>
        </span>
        <button type="button" name="button"> <%= add_friend(friend) %></button>
      </li>
    <% end %>
  </ul>
</section>
