<section class="users-section">

  <div class="columns is-multiline">
    <% @users.each do |user| %>
        <div class="column is-4-desktop">
        
          <div class="card">
            
            <div class="card-content">
                <a  href="<%= user_path(user) %>"> 
                <figure class="image">
                  <%= image_tag 'avatar.jpg',class:"is-rounded" %>
                </figure>
                </a>
            </div>
            <div class="card-footer">
                <div class="card-footer-item">
                  
                    <a  class="title has-text-centered is-size-6" title="See Profile" href="<%= user_path(user) %>"> <%= user.name %></a>
                </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</section>