<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
        <%= user.name %>
       <%= friends(user) %>
      <br>
      <br>
      <% end %>
  </ul>
</section>  