<section class="users-section">
  <ul class="users-list">
    <table>
      <tr><td>Name</td><td>Friendship status</td><td>More..</td></tr>
    <% @users.each do |user| %>
      <% if current_user.id != user.id  %>
        <li>
          <tr><td>
            <%= user.name %>
          </td><td>
            <% unless current_user.friendships.find_by(friend_id:user.id) or current_user.inverse_friendships.find_by(user_id: user.id)   %>
            <%= link_to 'Add friend', add_friend_path(:id => user.id) %>
             <% end %>

            <% if current_user.inverse_friendships.find_by(user_id: user.id) && current_user.inverse_friendships.find_by(user_id: user.id).confirmed == false %>
              <%= link_to 'Accept Friend', accepts_friend_path(:id => user.id) %>
            <% end %>
          </td><td>
            <span class="profile-link">
              <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            </span>
          </td></tr>         
        </li>
      <% end %>
    <% end %>
  </table>
  </ul>
</section>
