<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <li>
          <span class="profile-link">
            <div class = 'container'>
              <h1><%= link_to user.name,  user_path(user), class: 'profile-link' %></h1>
              <%= render 'friendships/friend_request_form', user: user %>
              <% requestor.each do |r| %>
                <% if user == r %>
                  <%= render 'friendships/accept_request_form', user: user, submit_text: 'Accept' %>
                  <%= render 'friendships/reject_request_form', user: user, submit_text: 'Cancel' %>
                <% end %>
              <% end %>
            </div>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
