<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
    <% if current_user != user %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        
          <% if current_user.friend?(user) %>
            <%= button_to "Unfriend", friendship_path(user.id), method: :delete, data: { confirm: "Are you sure you want to Unfriend"} %>
          <% else %>
            <%= button_to "Send Request", friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
          <% end %>
        </span>        
      </li>
      <% end %>
    <% end %>
  </ul>
</section>  
