<section class="users-section">
  <ul class="users-list">
    <% all_users.each do |user| %>
      <li>
      <div>
        <%= gravatar_for user %>
        <%= user.name %>
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        <%= render 'friendship_link', user: user %>
      </div>
      </li>
    <% end %>
  </ul>
</section>