<section class="users-section">
  <h1 class="title">All Users</h1>
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name,  user_path(user) %>
      </li>
    <% end %>
  </ul>
</section>
