<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>

          <%# <% if user.friendable?(current_user) %1> %>
          <%#   <%= link_to 'Add Friend',  friendships_path({user_id: current_user.id, friend_id: user.id}), method: :post, class: 'profile-link' %1> %>
          <%# <% end %1> %>

          <%= friendship_interaction(user) %>

        </span>
      </li>
    <% end %>
  </ul>
</section>
