<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
        <% set_user(user)%>
        <%= render 'add_or_accept_or_reject_friend' %>
      </li>
    <% end %>
  </ul>
</section>
