<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>

          <% unless current_user == user %>
            <% if current_user.friend?(user) %>
              <span class="badge badge-success">Friend</span>
            <% elsif already_invited?(user.id) %>
              <span class="badge badge-warning">Pending</span>
            <% else %>
              <a href="/users/<%= user.id %>/invite" class="badge badge-danger text-white">Invite to friendship</a>
            <% end %>
          <% end %>

        </span>
      </li>
    <% end %>
  </ul>
</section>
