<div class="pending-div">
  <% if @users_requesting.any? %>
    <section class="users-section">
      <h2>Users requesting</h2>
      <hr>
      <ul class="users-list">
        <%= render @users_requesting ,index:"pending"%>
      </ul>
    </section>
  <% end %>
  <% if @users_requested.any? %>
    <section class="users-section">
      <h2>Users requested</h2>
      <hr>
      <ul class="users-list">
        <%= render @users_requested ,index:"pending"%>
      </ul>
    </section>
  <% end %>
</div>
