<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= render 'logged_in_user' %>
    <%= render 'add_or_accept_or_reject_friend' %>
  </section>
