<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <button type="button" <%= user_friend?(current_user, @user) %> name="button"> <%= add_friend(@user) %></button>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
