<section class="user-section">

  <h2><%= "Name: #{@user.name}" %> <% if @user != current_user %>
    <%= button_to 'Invite to friendship', user_friendships_path(@user) %></h2>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>