<section class="user-section">
<div class="w-100 justify-content-space-between">
  <h2><%= "Name: #{@user.name}" %></h2>
  <div>
    <%= render invite_to_friendship(@user) %> 
  </div>
</div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<%= render all_friendship_details(@user) %>
