<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <% unless @user.id == current_user.id || current_user.friends.include?(@user) %> 
      <%= button_to "Add as a Friend", friendships_path, params: {friend_id: @user.id} %>
    <% end %>
</section>
