<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
        <div>
          <%= render 'friendship_link', user: @user %>
        </div>
  <article class="timeline">
    <ul class="posts">
      <%= friend_posts(@user, @posts) %>
    </ul>
  </article>
</section>
