<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>

  <% unless current_user == @user %>
    <% if current_user.friend?(@user) %>
      <span class="badge badge-success">Friend</span>
    <% elsif already_invited?(@user.id) %>
      <span class="badge badge-warning">Pending</span>
    <% else %>
      <a href="/users/<%= @user.id %>/invite" class="badge badge-danger text-white">Invite to friendship</a>
    <% end %>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
