<section class="user-section">
  <h2 class="h2-user"><%= "Name: #{@user.name}" %></h2>
  <%= show_friend_request(@user) %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>