<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <div class="m-2">
  <%= render_friendship_btn @user%>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
