<section class="user-section">
  <h2><%= "#{@user.name}" %></h2>
  <%= invite_links(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <article class="users-section">
    <h3>All friends:</h3>
    <br />
    <ul class="users-list">
      <%= render @friends %>
    </ul>
  </article>
</section>
