<section id="left">left</section>

<section id="middle" class="user-section">
  <article class="timeline">
    <h3><%= "Recent posts by  #{@user.name}"%></h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<section id="right"> 
All users
</section>
