<section class="user-section">
  <div class="user-show-header">
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= render 'add_friend', friendship: @friendship, class: "btn-2" %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
