<section class="user-section">
  <div class = "friend_request">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= render_friendship(@user) %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
