<section class="user-section">
  <%= link_to gravatar_for(@user,size:50), @user %>
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= render 'friendship_button', user: @user ,index:false%>
  <% if @posts.any? %>
    <article class="timeline">
      <h3>Recent posts:</h3>
      <ul class="posts">
        <%= render @posts %>
      </ul>
    </article>
  </section>
<% end %>
