<section class="user-section">
  <h2><%= "Name: #{@user.name}" %>, <%= render 'action_user', user: @user %></h2>

  <article class="timeline">
    <h3>Mutual friends:</h3>
    <ul class="posts">
      <%= render @mutual_friends %>
    </ul>
  </article>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>