<section class="user-section">
  <div class="user-show-header">
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= render 'add_friend', friendship: @friendship, class: "btn-2" %>
  </div>

  <% if @posts %>
    <article class="timeline">
      <h3>Recent posts:</h3>
      <ul class="posts">
        <%= render @posts %>
      </ul>
    </article>
  <% end %>
</section>

<% if @user == current_user %>
  <footer>
    <%= link_to 'Edit or Delete your Account Here', edit_user_registration_path, class: 'profile-link-edit' %>
  </footer>
<% end %>
