<section class="user-section">
  <h2><%= "Name: #{@user.name}" %> </h2>
  
 
  <% if current_user.pending_friends.include?(@user) && !current_user.friend?(@user) %>
  <p> You have sent a friend request to this user </p>

  <% elsif !current_user.friend?(@user) && current_user != @user %>
  <%=  link_to('Add Friend', friendships_path(user_id: @user.id), method: :post) %>
  <% else %>
  <p>Your Profile</p>
  <% end %>
   
  
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
