<section class="user-section">
  <h2><%= "Name: #{@user.name}" %>     </h2>
   <%= button_to "Invite to Friendship",friendships_path(user_id:@user)%>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
