<section class="user-section">
  <h2 class="d-inline border"><%= "Name: #{@user.name}" %></h2>
  <span><%= new_friendship(@user) %></span>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
