<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<section class="user-section">
  <div>
    <h2>Incoming Friend Request</h2>
    <ul>
      <% @receieved_friendships.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h2>Sent Friend Request</h2>
    <ul>
      <% @sent_friendships.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ul>
  </div>
</section>
