<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <h3>Your Friends</h3>
  <ul>
    <% @user.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
  </ul>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
