<% provide(:title, @user.name) %>
<section class="user-section">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= will_paginate @posts %>
  </article>
</section>
