<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= button_to 'Add friend', user_friendships_path(current_user.id), params: { friend_id: "#{@user.id}"} %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
