<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <a href="friendships/new" class="add_friend">
  <h4>Add Friend</h4>
  </a>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
