<div class="hero is-medium is-link">
    <div class="hero-body">
        <div class="title"><%= "#{@user.name}" %></div>
        <div class="subtitle">
          Registered since :<%= @user.created_at.strftime("%Y/%m/%d") %>
        </div>
    </div>
</div>
<br/>
<section class="user-section">
  <article class="timeline">
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
