<section class="user-section">
  <div class="info">
    <%= gravatar_for @user %>
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= render  "shared/invite", invited: @user %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
