<section class="user-section">
  <%= flash[:message] %>
  <div>
    <h1><%= "#{@show_user.name.upcase }'S PROFILE'" %></h1>
    <%= user_friend_request(@show_user) %>
  </div>

<br>

<%= user_posts(@show_user) %>

</section>


