<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% unless current_user.friend?(@user) %>
    <button>
      <%= link_to 'Invite to friendship',  friendships_path(id: @user.id), method: 'post' %>
    </button>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
