<section class="user-section">
  <div>
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= display_invitation(user: @user) %>
    <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    </article>

    <section>
      <%= display_pending_requests(@user) %>
    </section>

        
</section>
