<section class="user-section">
  <div class="d-flex align-items-center">
    <h2 class="d-inline-flex"><%= "Name: #{@user.name}" %></h2>
    <%= friendship_controls(@user) %>
  </div>

  <%= timeline %>
</section>
