<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
    <%= pluralize(@user.posts.count," post")%>
      <%= render @posts %>
    </ul>
  </article>
</section>
