<ul class='list-unstyled row g-3'>
  <% friends.each do |friend| %>
    <li class="col-sm-7 mt-1">
      <%= friend.name %>
        <% if @user == current_user %>
          <%= link_to 'Un-friend', friendships_destroy_path(friendship_id: Friendship.find_request(@user.id, friend.id)), class: 'btn btn-danger btn-sm' %>
        <% end %>
    </li><br>
  <% end %>
</ul>