<%= form_with(model: @friendship, url: friendship_path(user), method: 'put', local: true) do |form| %>
  <div>
    <%= form.hidden_field :user_id, value: user.id %>
    <div class="actions">
      <%= form.submit submit_text, class: 'btn-primary' %>
    </div>
  </div>
<% end %>