<div class="request">
<p class="name">Name: <%= request.sender.name %> </p>
<%= button_to 'Accept', user_friendship_path(request.sender.id, request.id), method: :put, class: 'btn btn-primary' %>
<%= button_to 'Decline', user_friendship_path(request.sender.id, request.id), method: :delete, class: 'btn btn-primary' %>
</div>
