<div class="btn-div">
    <%= button_to 'Accept', friendship_path(@single_friendship), method: :put, class: 'btn btn-primary' %>
    <%= button_to 'Decline', friendship_path(@single_friendship), method: :delete, class: 'btn-right' %>
</div>