<div class="request">
    <%= button_to 'Accept', friendship_path(@i), method: :put, class: 'btn btn-primary' %>
    <%= button_to 'Decline', friendship_path(@i), method: :delete, class: btn-right' %>
</div>