<%= form_with(model: @friendships, url: unfriend_path, method: method, local: true) do |form| %>
  <div>
    <%= form.hidden_field :user_id, value: user.id %>
    <div class="actions">
      <%= form.submit submit_text %>
    </div>
  </div>
<% end %>