<% if current_user.id == @user.id%>
  <div class="col">
    <div class="row justify-content-space-between">
      <div class="col">
        <h2>Pending Friendships</h2>
        <div>
          <div>
            <% @pending_friendships.each do |friendship| %>
              <p class="lead"> From <%= friendship.user.name %></p>
              <p> 
                <span>
                <%= link_to 'Accept', friendship_path(friendship_id: friendship), class:'btn btn-success text-white', method: :put %>
                </span>
                <span>
                <%= link_to 'Reject', friendship_path(friendship.id), method: :destroy, class:'btn btn-danger text-white' %>
                </span>
              </p>
            <% end %>
          </div>
        </div>
        <div class="col">
        <h2>Sent Friendships</h2>
        <div>
          <ul>
            <% @sent_friendships.each do |friendship| %>
              <li><%= friendship.friend.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
