<%
=begin%>
 <% @friends.each do |friend| %>
  <span><%= friend.name %> And You Are Friends!</span>
  <button class="friend_button">
    <%= link_to "End up Friendship", friendship_path(current_user.my_friendship(friend.id, current_user)[0]), method: :delete %>
  </button>
<% end %> 
<%
=end%>
<button class="friend_button">
  <%= link_to "End up Friendship", friendship_path(current_user.my_friendship(user.id, current_user)[0]), method: :delete %>
</button>