<% unless @not_my_request.include?(user) %>
  <button class="friend_button">
    <%= link_to "Accept friend request", user_path(user) %>
  </button>
<% else %>
  <span class="small-text">You Have Already Sent A Request</span>
<% end %>