<% @friends_hash[:friends].each do |friend| %>
  <li class="friend-response">
    <div>
      <%= gravatar_for friend, size: 50 %>
      <%= link_to friend.name, friend %>
    </div>
    <div class="friends-button-wrap">
      <div>
        <%= form_with(model: current_user.pending_friendships.find_by(friend_id: friend.id), html: { method: :delete }, local: true) do |f| %>
          <%= f.submit "Cancel Request", class: "btn btn-secondary btn-sm friend-button delete" %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>