<div class="friendships">
  <%= render  "list", rendereable: @user.friends, message: 'Friend'%>
  <%= render  "list", rendereable: @user.pending_friends, message: 'Pending request' %>
  <%= render  "list", rendereable: @user.friend_requests, message: 'Friend request' %>
</div>
