<h2>Friendships</h2>

<section class="users-section">
  <ul class="users-list">
    <% if @friendships.length > 0 %>
      <% @friendships.each do |friendship| %>
        <%= render partial: "friendship", locals: { friendship: friendship } %>
      <% end %>
    <% else %>
      <li><p>No post available</p></li>
    <% end %>
  </ul>
</section>


<%= link_to 'Add Friendship', new_friendship_path %>