

Friend Requests <%= (@friend_requests.count) %>

<% if @friend_requests.empty? %>
	<p> You have no friend requests yet</p>
<%end%>

<% @friend_requests.each do |request| %>

	From <%= link_to request.name, user_path(request)%>

	<%= link_to 'Accept', accept_friend_path(request.id), method: 'put' %>

	<%= link_to 'Cancel', delete_request_path(request.id), method: 'delete' %>

<%end%>