
<h2>People list </h1>



<%@request.each do |request|%>


  
   <h2> <%=request.user.name%></h2>
    
    <%= button_to "Accept",friendship_path(request,status:1),method: :put%>
    
   <%= button_to "Decline",friendship_path(request,status:0),method: :put%>

<%end%>
