
<h2>Friend Request </h1>



<%@friend_request.each do |request|%>


  
   <h2> <%=request.name%></h2>
    
    <%= button_to "Accept",friendship_path(request,status:1),method: :put%>
    
   <%= button_to "Decline",friendship_path(request,status:0),method: :put%>

<%end%>

<h2> Pending Friend Request</h2>
<ul>
<%@pending_request.each do |request|%>

   <li><h2><%=request.name%></h2></li>

<%end%>
</ul>