
<h1>People list </h1>

<div class="container">
<div class="row">
<%@request.each do |request|%>


    <div class="col">
    <%=request.user.name%>
    </div>
    <div class="col-12">
      <%= button_to "Accept",friendship_path(request,status:1),method: :put%>
    </div>

    <div class="col">
        <%= button_to "Decline",friendship_path(request,status:0),method: :put%>
    

<%end%>
</div>
</div>
