<p id="notice"><%= notice %></p>

<h1>Friendships</h1>

<table>
  <thead>
    <tr>
      
      <th>Friendship</th>
      
    </tr>
  </thead>

  <tbody>
    <%= render @index %>
  </tbody>
</table>
