<% unless @pending_friends.nil? %>
  <% @pending_friends.compact.each do |friend| %>
    <div class="card w-25 mx-auto mb-4">
      <h5 class="card-header">Added you <%= friend.created_at %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= friend.name %></h5>
        <%= link_to 'Confirm', user_path(friend.id), method: 'post', class: "btn btn-primary" %>
        <%= link_to 'Decline', user_friendship_path(current_user.id, friendship_method.id), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
<% end %>