<h1> Sent Requests </h1>
<% @friend_list.each do |friendship| %>
  Friend Name: <%= User.find_by(id: friendship.friend_id).name %>
  
  <%= button_to 'Confirm', friendship_path(friendship.id),
  :method => :put  %>

  <%= button_to 'Refuse', friendship_path(friendship.id),
  :method => :delete  %>
<% end %>



<br><br>
<h1>Friends List</h1>
<% @friend_list.each do |friendship| %>
  <% if friendship.acceptance == true %>
    Friend Name: <%= User.find_by(id: friendship.friend_id).name %> </p>
  <% end %>
<% end %>