<h1>Friendships</h1>

<section class="users-section">
  <h3>Sent friendships</h3>

  <ul class="users-list">
    <% if @sent_friendships.length > 0 %>
        <%= render @sent_friendships %>
    <% else %>
      <li><span>No post available</span></li>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h3>Received friendships</h3>

  <ul class="users-list">
    <% if @received_friendships.length > 0 %>
        <%= render @received_friendships %>
    <% else %>
      <li><span>No post available</span></li>
    <% end %>
  </ul>
</section>