<div class="friendship_form">
  <% form_with(url: '/send_request', local: true) do |f| %>
    <%= f.hidden_field :user_id, value: :@user_id %>
    <%= f.submit 'Send Friend Request' %>
  <% end %>
</div>