<%if @request%>
<h1>Requests</h1>
<%@request.each do |requests|%>
<%= requests.friend.name%>
<%= link_to 'Accept >>', {action: "accept",:controller=>"friendships",id: requests.id }, method: :post, class: 'friend-request' %>
<%= link_to 'decline >>', {action: "decline",:controller=>"friendships",id: requests.id }, method: :delete, class: 'friend-request' %>
<%end%>
<%end%>
<%show_pending%>
<%if @pending%>
<h1>Your pending</h1>
<%@pending.each do |requests|%>
<%= requests.friend.name%>
<%end%>
<%end%>