default: &default
  adapter: postgresql
  username: postgres
  password: root
  host: localhost
  encoding: unicode

  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: ror_social_scaffold_development

test:
  <<: *default
  database: ror_social_scaffold_test

production:
  <<: *default
  database: ror_social_scaffold_production
  username: ror_social_scaffold
  password: <%= ENV['ROR_SOCIAL_SCAFFOLD_DATABASE_PASSWORD'] %>
