<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <% if user_signed_in? %>
          <article class="media box">
            <figure class="media-left">
              <p class="image is-64x64">
                <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
              </p>
            </figure>
            <div class="media-content">
              <%= render 'posts/form' %>
            </div>
          </article>
        <% end %>
        <% @posts.each do | post | %>
          <h3 class="title">
            Recent posts
          </h3>
          <div class="box">
            <%= render @timeline_posts %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
