@import 'abstracts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-image: $background-main;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color-text;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-image: $background-main;
}
