@import 'abstracts';

.new_post,
.new_comment {
  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }
}

.new_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;

  label {
    display: none;
  }

  .btn-primary {
    width: 100%;
  }

  .btn-secondary {
    width: 30%;
    margin-left: 70%;
  }
}

.new_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    display: none;
  }

  .btn-primary {
    width: 100%;
  }

  .btn-secondary {
    width: 30%;
    margin-left: 70%;
  }
}
