/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn-div{
   display: flex;
   justify-content: space-between;
 }

 .btn-right{
   margin-left: -230px;
   background-color: red !important;
 }

 .form-index-req {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .btn-idx-req {
   display: inline-block;
   background-color: #fff !important;
   color: #689f38 !important;
   margin-left: 10px;
   font-size: 12px;
 }

 .btn-idx-req:hover {
   cursor: pointer;
   color: green !important;
 }

.idx-user-name {
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 6px;
}

