@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$primary-color-dark: #1a535c;
$primary-color: #4ecdc4;
$primary-color-light: #f7fff7;
$primary-color-text: #1a535c;
$divider-color: #bdbdbd;
$highlight-color: #ffe66d;
$mid-bg-color: #fefffe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: $primary-color-light;
  position: relative;
  //font-family: 'Overpass Mono', monospace;
  //font-family: 'Space Mono', monospace;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color-text;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  background-color: $mid-bg-color;
  color: $primary-color-dark;

  .menu {
    width: 80%;
    display: flex;
    align-items: center;

    .menu-avatar {
      margin-right: 20px;
    }

    .menu-item-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      margin: 0 15px;
    }

    .menu-item {
      float: left;
      margin: 0 15px;

      .active {
        a {
          color: #4ecdc4;
        }
      }
    }
  }
}

.nav .nav-link {
  color: $primary-color-dark;
  text-transform: uppercase;
  font-weight: 900;
}

.nav .nav-link:hover {
  color: $highlight-color;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.user-name {
  color: #ff6b6b;
  text-transform: capitalize;
}

.notice,
.alert {
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
}

.notice {
  background-color: #d4f6c6;
}

.alert {
  background-color: #f6cfc6;
}

.errors {
  font-size: 10px;
  color: red;
}

form {
  width: 80%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0;

    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  input[type="submit"] {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: $primary-color;
    border-bottom: 2px solid $primary-color-dark;
    color: $primary-color-light;
    font-weight: 600;
    //text-transform: uppercase;
  }

  input[type="submit"]:hover {
    background-color: $primary-color-dark;
    border-bottom: 2px solid $primary-color;
    color: $primary-color-light;
    cursor: pointer;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }

  #error_explanation {
    h2 {
      color: $primary-color-text;
      font-size: 1em;
    }

    ul {
      color: #f00;
    }
  }
}

.avatar-user-show {
  margin: 20px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.new_post,
.new_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-self: center;

  .label-no-display {
    display: none;
  }

  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }

  .btn-primary {
    //width: 100%;
    font-size: 0.8em;
  }

  .btn-secondary {
    width: 30%;
    margin-left: 70%;
  }
}

.fa-thumbs-up:hover {
  color: $primary-color-dark;
}

.fa-thumbs-down {
  color: #ff6b6b !important;
}

.fa-thumbs-down:hover {
  color: #e03d3d !important;
}

.likes-comments-container {
  margin-top: 10px;
  font-size: 1em;
}

.likes-comments {
  margin-right: 5px;
  color: $primary-color;
}

.counter {
  font-size: 0.7em;
  color: $primary-color-dark;
}

.comment-counter {
  margin-right: 40px;
}

.timeline {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-light;
  border-radius: 10px;

  h3 {
    margin: 8px 0;
    color: $primary-color-text;
  }

  .posts {
    width: 100%;
  }

  .post {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    background-color: $primary-color-light;
    padding: 30px;
    border-radius: 10px;
  }

  .post-attribution {
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .post-author {
      color: $primary-color-dark;
      text-transform: capitalize;
    }
  }

  .post-liking {
    float: right;

    .like-link {
      color: $primary-color-dark;
      font-weight: bold;
      font-size: 0.9em;
      margin: 0 4px;
    }
  }

  .post-date {
    font-size: 0.7em;
  }

  .post-content {
    font-size: 1.1em;
    padding: 4px 0;
  }

  .post-comments-section {
    margin: 5px;

    .post-comments {
      position: relative;
      display: flex;
      border-bottom: 1px solid $divider-color;
      border-radius: 3px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: $highlight-color;

      p {
        font-size: 0.8em;
        width: 90%;
      }

      span {
        position: absolute;
        right: 3px;
        font-size: 0.6em;
      }
    }
  }
}

.timeline-bg-color {
  background-color: $mid-bg-color;
}

.user-btns-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.latest-friends-section {
  width: 100%;
  margin: 10px;
}

.h3-latest-friends {
  color: $primary-color-text;
  width: 50%;
  background-color: $mid-bg-color;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.timeline-top-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.users-section {
  width: 100%;
  margin: 10px;

  .users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .users-list li {
    margin-bottom: 2px;
    text-transform: capitalize;
    font-size: 1.2em;
  }
}

.profile-link {
  font-size: 0.8em;
  margin: 0 0 8px 0;
  padding: 5px 15px;
  border-radius: 3px;
  color: $primary-color-light;
  background-color: $primary-color;
  border-bottom: 2px solid $primary-color-dark;
}

.profile-link:hover {
  background-color: $primary-color-dark;
  border-bottom: 2px solid $primary-color;
}

.profile-link-accept {
  padding: 3px 8px;
  margin-right: 5px;
}

.profile-link-reject {
  padding: 3px 10px;
  background-color: #ff6b6b;
}

.profile-link-reject:hover {
  background-color: #e03d3d;
  border-bottom: 2px solid #ff6b6b;
}

.fa-user-friends {
  color: $primary-color-text;
}

.request-text {
  color: $primary-color-text;
  font-size: 14px;
  text-align: center;
}

.accept-container {
  text-align: center;

  .accept-text {
    font-size: 15px;
    color: $primary-color-text;
  }
}

.all-users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.latest-friends {
  grid-template-columns: 1fr 1fr;
}

.show-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-section {
  width: 100%;
  background-color: $mid-bg-color;
  border-radius: 5px;
  padding: 10px;

  .h2-user {
    text-transform: capitalize;
    color: $primary-color-text;
    //display: flex;
    //justify-content: center;
    //margin-bottom: 15px;
    //padding-top: 20px;
  }

  .timeline {
    width: 90%;
    padding: 30px;

    h3 {
      width: 100%;
    }

    justify-content: start;
  }
}

.hidden {
  display: none;
}

@media only screen and (min-width: 480px) {
  form {
    width: 60%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 70%;
  }
}

@media (min-width: 780px) {
  form {
    width: 40%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 50%;
  }
}
