@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

$primary-color-dark: #a3d2ca;
$primary-color: #5eaaa8;
$primary-color-light: #f7f3e9;
$primary-color-text: #126e82;
$divider-color: #5eaaa8;

.new_comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.new_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    display: none;
  }

  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 0.8em 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }
}

form {
  width: 100%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0;

    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }
}

.users-section {
  width: 100%;
  margin: 10px;

  .users-list {
    padding: 0;
  }

  .users-list li {
    text-transform: capitalize;
    font-size: 1.2em;
  }
}

.user-section {
  width: 100%;

  h2 {
    text-transform: capitalize;
  }

  .timeline {
    width: 100%;

    h3 {
      width: 100%;
    }
  }
}

#error_explanation {
  h2 {
    color: $primary-color-text;
    font-size: 1em;
  }

  ul {
    color: #f00;
  }
}

@media only screen and (min-width: 480px) {
  form {
    width: 60%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 70%;
  }
}

@media (min-width: 780px) {
  form {
    width: 40%;
  }

  .new_post,
  .timeline,
  .user-section {
    width: 50%;
  }

  .users-section {
    width: auto;
  }
}
