@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
@import url("bulma/bulma");
@import url("font-awesome");
html,body{

  background: #F2F3F5;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.session-form{
  max-width: 400px;
  margin: auto;;
  border-radius: 10px;
}
.container{
  max-width: 900px;
}
.account{
  .sidebar{
    position: sticky;
    top: 60px;
  }
  .navbar{
    box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
  }
  .card{
    box-shadow: 0px 1px 2px  rgba(0,0,0,0.1);
    border: 1px solid #f1f1f1;
    margin-bottom: 16px;
    border-radius: 8px;
    .card-header{
      box-shadow: none;
      border-bottom: 1px solid #f1f1f1;
      .card-header-title{
        padding: 10px;
        font-weight: normal;
        // display: flex;
        // justify-content: space-between;
        .image{
          margin-right: 15px;
        }
        .date{
          font-size: 12px;
          color: #b9b9b9;
        }
      }
    }
    .card-content{
      padding: 15px;
      .post-content{
        padding: 15px 0px;
      }
      .actions-section{
        margin: 5px 0px;
        padding: 5px;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
      }
      .comments-section{
        padding-top: 10px;
      }
    }
  }
}
// $primary-color-dark: rgb(0, 86, 167);
  // $primary-color: #8bc34a;
  // $primary-color-light: #dcedc8;
  // $primary-color-text: #212121;
  // $divider-color: #bdbdbd;

  // * {
  //   margin: 0;
  //   padding: 0;
  //   box-sizing: border-box;
  //   outline: none;
  // }

  // body {
  //   background: #f5f5f5;
  //   position: relative;
  //   font-family: "Roboto", sans-serif;
  //   font-weight: 400;
  // }

  // h1,
  // h2,
  // h3 {
  //   font-weight: 700;
  // }

  // ul {
  //   list-style-type: none;
  // }

  // a {
  //   text-decoration: none;
  //   color: $primary-color-text;
  // }

  // .nav {
  //   display: flex;
  //   justify-content: space-between;
  //   padding: 16px 48px;
  //   background-color: $primary-color-dark;
  //   color: $primary-color-light;

  //   .menu {
  //     width: 80%;
  //     justify-content: space-between;

  //     .menu-item {
  //       float: left;
  //       margin: 0 15px;

  //       .active {
  //         a {
  //           color: #fff;
  //         }
  //       }
  //     }
  //   }
  // }

  // .nav a {
  //   color: $primary-color-light;
  //   text-transform: uppercase;
  //   font-weight: 900;
  // }

  // .nav a:hover {
  //   color: #fff;
  // }

  // .main {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   padding: 16px;
  // }

  // .notice,
  // .alert {
  //   margin-bottom: 8px;
  //   width: 100%;
  //   height: 30px;
  //   text-align: center;
  //   padding: 5px;
  //   color: dimgrey;
  //   font-size: 14px;
  // }

  // .notice {
  //   background-color: #d4f6c6;
  // }

  // .alert {
  //   background-color: #f6cfc6;
  // }

  // .errors {
  //   font-size: 10px;
  //   color: red;
  // }

  // form {
  //   width: 80%;
  //   margin: 8px 0;

  //   .field {
  //     width: 100%;
  //     padding: 8px 0px;
  //     label {
  //       margin-bottom: 8px;
  //     }

  //     input {
  //       width: 100%;
  //       border: 1px solid $divider-color;
  //       border-radius: 4px;
  //       padding: 8px;
  //       background-color: $primary-color-light;
  //     }

  //     input[type="checkbox"] {
  //       width: fit-content;
  //     }
  //   }

  //   .actions {
  //     display: flex;
  //     justify-content: center;
  //     margin: 8px 0;
  //   }
  //   input[type="submit"] {
  //     padding: 8px;
  //     width: 50%;
  //     border: none;
  //     border-radius: 4px;
  //     background-color: $primary-color-dark;
  //     color: $primary-color-light;
  //     text-transform: uppercase;
  //     font-weight: 900;
  //   }

  //   input[type="submit"]:hover {
  //     background-color: $primary-color;
  //     color: #fff;
  //   }

  //   .actions.reset {
  //     input[type="submit"] {
  //       width: 100%;
  //     }
  //   }

  //   #error_explanation {
  //     h2 {
  //       color: $primary-color-text;
  //       font-size: 1em;
  //     }
  //     ul {
  //       color: #f00;
  //     }
  //   }
  // }

  // .title {
  //   text-align: center;
  //   margin-bottom: 16px;
  //   text-transform: capitalize;
  // }

  // .new_post,
  // .new_comment{
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 100%;

  //   label {
  //     display: none;
  //   }

  //   .form-control {
  //     width: 100%;
  //     border: 1px solid $divider-color;
  //     height: 64px;
  //     padding: 8px;
  //     margin: 4px 0;
  //     border-radius: 4px;
  //   }

  //   .field_with_errors {
  //     width: 100%;

  //     .form-control {
  //       border: 1px solid #f00;
  //     }
  //   }

  //   .btn-primary {
  //     width: 100%;
  //   }

  //   .btn-secondary {
  //     width: 30%;
  //     margin-left: 70%;
  //   }
  // }

  // .timeline {
  //   width: 100%;
  //   margin: 16px 0;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;

  //   h3 {
  //     margin: 8px 0;
  //   }

  //   .posts {
  //     width: 100%;
  //   }

  //   .post {
  //     width: 100%;
  //     margin: 16px 0;
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   .post-attribution {
  //     float: left;

  //     .post-author {
  //       margin: 0 0 8px 0;
  //       color: $primary-color-dark;
  //       text-transform: capitalize;
  //     }
  //   }

  //   .post-liking {
  //     float: right;

  //     a{
  //       color: $primary-color-dark;
  //       font-weight: bold;
  //       font-size: 0.9em;
  //       margin: 0 4px;
  //     }
  //     .post-date {
  //       font-size: 0.6em;
  //     }
  //   }

  //   .post-content {
  //     font-size: 1.1em;
  //     padding: 4px 0;
  //   }

  //   .post-comments-section {
  //     margin: 5px;
  //     width: 90%;
  //     margin-left: 10%;

  //     .post-comments {
  //       position: relative;
  //       display: flex;
  //       border-bottom: 1px solid $divider-color;
  //       border-radius: 3px;
  //       margin-bottom: 2px;
  //       padding: 10px;

  //       p {
  //         font-size: .8em;
  //         width: 90%;
  //       }
  //       span {
  //         position: absolute;
  //         right: 3px;
  //         font-size: 0.6em;
  //       }
  //     }
  //   }
  // }

  // .users-section {
  //   width: 100%;
  //   margin: 10px;

  //   .users-list li {
  //     margin-bottom: 16px;
  //     text-transform: capitalize;
  //     font-size: 1.2em;
  //   }

  //   .profile-link {
  //     font-size: 0.8em;
  //     margin: 0 0 8px 0;
  //     color: $primary-color-dark;
  //   }
  // }

  // .user-section {
  //   width: 100%;
  //   margin-left: 16px;

  //   h2 {
  //     text-transform: capitalize;
  //   }

  //   .timeline {
  //     width: 100%;
  //     h3 {
  //       width: 100%;
  //     }
  //     justify-content: start;
  //   }
  // }

  // @media only screen and (min-width: 480px) {
  //   form {
  //     width: 60%;
  //   }

  //   .new_post,
  //   .timeline,
  //   .users-section,
  //   .user-section {
  //     width: 70%;
  //   }
  // }

  // @media (min-width: 780px) {
  //   form {
  //     width: 40%;
  //   }

  //   .new_post,
  //   .timeline,
  //   .users-section,
  //   .user-section {
  //     width: 50%;
  //   }
  // }
//
