@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

$primary-color-dark: #689f38;
$primary-color: #8bc34a;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;
$info-color: #42b3f5;
$danger-color: red;
$warning-color: #ff8a47;
$divider-color: #bdbdbd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color-text;
}

button,
input[type='submit'] {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 48px;
  background-color: $primary-color-dark;
  color: $primary-color-light;

  a {
    color: $primary-color-light;
    text-transform: uppercase;
    font-weight: 900;
  }

  .active a {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }

  .menu {
    width: 80%;
    justify-content: space-between;

    .menu-item {
      float: left;
      margin: 0 15px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.alert,
.notice {
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
}

.notice {
  background-color: #d4f6c6;
}

.alert {
  background-color: #f6cfc6;
}

.errors {
  font-size: 10px;
  color: red;
}

.new_comment,
.new_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    display: none;
  }

  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }
}

form {
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0;

    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }

    input[type="checkbox"] {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.timeline {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 8px 0;
  }

  .posts {
    width: 100%;
  }

  .post {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
  }

  .post-attribution {
    float: left;

    .post-author {
      margin: 0 0 8px;
      color: $primary-color-dark;
      text-transform: capitalize;
    }
  }

  .post-liking {
    float: right;

    a {
      color: $primary-color-dark;
      font-weight: bold;
      font-size: 0.9em;
      margin: 0 4px;
    }

    .post-date {
      font-size: 0.6em;
    }
  }

  .post-content {
    font-size: 1.1em;
    padding: 4px 0;
  }

  .post-comments-section {
    margin: 5px;
    width: 90%;
    margin-left: 10%;

    .post-comments {
      position: relative;
      display: flex;
      border-bottom: 1px solid $divider-color;
      border-radius: 3px;
      margin-bottom: 2px;
      padding: 10px;

      p {
        font-size: 0.8em;
        width: 90%;
      }

      span {
        position: absolute;
        right: 3px;
        font-size: 0.6em;
      }
    }
  }
}

.users-section {
  width: 100%;
  margin: 10px;

  .users-list li {
    margin-bottom: 16px;
    text-transform: capitalize;
    font-size: 1.2em;
  }

  .profile-link {
    font-size: 0.8em;
    margin: 0 0 8px;
    color: $primary-color-dark;
  }
}

.user-section {
  width: 100%;
  margin-left: 16px;

  h2 {
    text-transform: capitalize;
  }

  .timeline {
    width: 100%;

    h3 {
      width: 100%;
    }

    justify-content: start;
  }
}

#error_explanation {
  h2 {
    color: $primary-color-text;
    font-size: 1em;
  }

  ul {
    color: #f00;
  }
}

@media only screen and (min-width: 480px) {
  .new_post,
  .timeline,
  .user-section,
  .users-section {
    width: 70%;
  }
}

@media (min-width: 780px) {
  .new_post,
  .timeline,
  .user-section,
  .users-section {
    width: 50%;
  }
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #eee;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary,
.btn-secondary,
[type="submit"] {
  @extend .btn;
  background-color: $primary-color-dark;
  color: #eee;
}

.btn-danger {
  @extend .btn;
  background-color: $danger-color !important;
  color: #eee;
}

.btn-blue {
  @extend .btn;
  background-color: dodgerblue !important;
}

.btn-warning {
  @extend .btn;
  background-color: $warning-color !important;
  color: #eee;
}

.badge {
  margin: 0 0 0 1rem;
  display: inline !important;
  font-size: 15px;
  font-weight: lighter;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

.badge-primary {
  background-color: lighten($primary-color, 35%);
  color: $primary-color;
}

.badge-info {
  background-color: lighten($info-color, 35%);
  color: $info-color;
}

.ml-auto {
  margin-left: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
  margin-bottom: 0 !important;
}

.list-item:nth-child(even) {
  background-color: #eee;
}

.inline-form {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline {
  display: inline;
}

.align-items-center {
  align-items: center;
}

.user-link {
  &:hover {
    text-decoration: underline;
    color: $primary-color-dark;
  }
}

.add-to-see {
  color: #ccc;
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 5rem;
}
