// Place all the styles related to the frienships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-green {
    border-radius: 5px;
    background-color: rgb(50, 121, 26);
    color: white;
    font-size: 0.8rem;
    padding: 3px;
}