// Place all the styles related to the Friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend_button {
  width: auto;
  padding: 5px;
  background-color: #689f38;
  border: 1px solid #689f38;
  font-weight: bold;
}

.friend_button:hover {
  padding: 6px;
}
